# Objetivo

O objetivo deste notebook é avaliar os dados disponíveis no [Portal de Dados Abertos da UFRN](http://dados.ufrn.br/) no grupo `Turmas`.

Assim sendo, a avaliação é apenas quanti-qualitativa para descobrirmos o que podemos extrair a favor do nosso projeto.

## 1. Bibliotecas

In [3]:
library("dplyr")
library(ggplot2)
library(gridExtra)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Attaching package: ‘gridExtra’

The following object is masked from ‘package:dplyr’:

    combine

## 2. Dados

In [4]:
path_data <- "/Users/rsilva/Documents/UFRN/Hackathon/UFRN\ Dados/turmas"
path_save <- "/Users/rsilva/Documents/UFRN/Hackathon/Resultados"

In [5]:
setwd(path_data)

pattern <- "_turmas-"

# listando os arquivos contidos no diretorio
listoffiles <- list.files(path_data, pattern = pattern)

# abrindo os arquivos da lista
myfiles = lapply(listoffiles, read.csv2)

Warning message in scan(file = file, what = what, sep = sep, quote = quote, dec = dec, :
“EOF within quoted string”Warning message in scan(file = file, what = what, sep = sep, quote = quote, dec = dec, :
“EOF within quoted string”Warning message in scan(file = file, what = what, sep = sep, quote = quote, dec = dec, :
“EOF within quoted string”Warning message in scan(file = file, what = what, sep = sep, quote = quote, dec = dec, :
“EOF within quoted string”Warning message in scan(file = file, what = what, sep = sep, quote = quote, dec = dec, :
“EOF within quoted string”

In [6]:
str(myfiles)

List of 16
 $ :'data.frame':	9818 obs. of  26 variables:
  ..$ id_turma                : int [1:9818] 1151160 1151161 1151162 1151163 1151164 1151168 1151171 1151172 1151173 1151177 ...
  ..$ codigo_turma            : Factor w/ 96 levels "","01","01A",..: 2 2 2 2 2 2 2 2 2 2 ...
  ..$ id_docente_interno      : int [1:9818] 25852 5753006 5753423 5752810 16790 NA 24852 23943 NA 15370 ...
  ..$ id_docente_externo      : int [1:9818] NA NA NA NA NA 18682644 NA NA 18299867 NA ...
  ..$ observacao              : Factor w/ 129 levels "","(juventude e vulnerabilidade",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ id_componente_curricular: int [1:9818] 24054 24061 25843 41598 2055814 2055655 2055700 2055624 2055623 2055626 ...
  ..$ nivel_ensino            : Factor w/ 4 levels "GRADUAÇÃO","LATO SENSU",..: 1 1 1 3 2 2 2 2 2 2 ...
  ..$ campus_turma            : Factor w/ 5 levels "","Campus Caicó",..: 3 3 3 1 1 1 1 1 1 1 ...
  ..$ local                   : Factor w/ 1445 levels "","(Centro de Biociências) Anfiteatro A DMOR",..: 575 575 575 1417 460 458 459 461 459 459 ...
  ..$ ano                     : int [1:9818] 2010 2010 2010 2010 2010 2010 2010 2010 2010 2010 ...
  ..$ periodo                 : int [1:9818] 1 1 1 1 1 1 1 1 1 1 ...
  ..$ data_inicio             : Factor w/ 95 levels "2009-02-16","2009-11-13",..: 15 15 15 9 73 92 44 45 95 56 ...
  ..$ data_fim                : Factor w/ 126 levels "2009-07-09","2009-11-28",..: 99 99 99 110 74 113 32 34 123 52 ...
  ..$ descricao_horario       : Factor w/ 1093 levels "","167M2345  67T3456",..: 454 995 450 801 798 798 833 920 798 798 ...
  ..$ total_solicitacoes      : int [1:9818] NA NA NA 1 NA NA NA NA NA NA ...
  ..$ capacidade_aluno        : int [1:9818] 1 1 1 20 41 41 41 41 41 41 ...
  ..$ tipo                    : Factor w/ 2 levels "ENSINO INDIVIDUAL",..: 2 2 2 2 2 2 2 2 2 2 ...
  ..$ distancia               : Factor w/ 2 levels "f","t": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ data_consolidacao       : Factor w/ 6542 levels "","2010-03-11 16:52:54.96",..: 2990 566 2881 6349 6375 6533 6405 6495 6497 6535 ...
  ..$ agrupadora              : Factor w/ 1 level "f": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ id_turma_agrupadora     : int [1:9818] NA NA NA NA NA NA NA NA NA NA ...
  ..$ qtd_aulas_lancadas      : int [1:9818] NA NA NA NA NA 30 NA NA NA 22 ...
  ..$ situacao_turma          : Factor w/ 4 levels "ABERTA","CONSOLIDADA",..: 2 2 2 2 2 2 2 2 2 2 ...
  ..$ convenio                : logi [1:9818] NA NA NA NA NA NA ...
  ..$ modalidade_participantes: Factor w/ 2 levels "A Distância",..: 2 2 2 2 2 2 2 2 2 2 ...
  ..$ X                       : logi [1:9818] NA NA NA NA NA NA ...
 $ :'data.frame':	10007 obs. of  26 variables:
  ..$ id_turma                : int [1:10007] 1151169 1151174 1151786 1151839 1151840 1151841 1151842 1151843 1151844 1151845 ...
  ..$ codigo_turma            : Factor w/ 110 levels "","01","01A",..: 2 2 57 2 8 14 2 2 2 2 ...
  ..$ id_docente_interno      : int [1:10007] 22823 NA 20831 5752921 5752885 19002 5752489 24233 24233 23400 ...
  ..$ id_docente_externo      : int [1:10007] NA 18299868 NA NA NA NA NA NA NA NA ...
  ..$ observacao              : Factor w/ 131 levels "","'CANTO'","( Modelos de Informação da Edificação - teorias, conceitos e aplicações)",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ id_componente_curricular: int [1:10007] 2055625 2055630 2053815 18815 18815 18815 18778 18729 2047753 18652 ...
  ..$ nivel_ensino            : Factor w/ 5 levels "GRADUAÇÃO","LATO SENSU",..: 2 2 2 5 5 5 5 5 5 5 ...
  ..$ campus_turma            : Factor w/ 5 levels "","Campus Caicó",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ local                   : Factor w/ 1388 levels "","13","14","15",..: 424 423 828 62 64 63 809 926 60 599 ...
  ..$ ano                     : int [1:10007] 2010 2010 2010 2010 2010 2010 2010 2010 2010 2010 ...
  ..$ periodo                 : int [1:10007] 2 2 2 2 2 2 2 2 2 2 ...
  ..$ data_inicio             : Factor w/ 106 levels "2010-02-22","2010-07-05",..: 52 9 10 17 17 17 17 17 17 17 ...
  ..$ data_fim                : Factor w/ 134 levels "2010-07-07","2010-07-09",..: 134 9 24 114 114 114 114 114 43 114 ...
  ..$ descricao_horario       : Factor w/ 1246 levels "","1234567M1234",..: 927 927 2 457 427 457 413 413 401 915 ...
  ..$ total_solicitacoes      : int [1:10007] NA NA NA 46 2 40 10 8 NA 3 ...
  ..$ capacidade_aluno        : int [1:10007] 41 41 320 50 50 50 15 30 10 3 ...
  ..$ tipo                    : Factor w/ 2 levels "ENSINO INDIVIDUAL",..: 2 2 2 2 2 2 2 2 2 2 ...
  ..$ distancia               : Factor w/ 2 levels "f","t": 1 1 2 1 1 1 1 1 1 1 ...
  ..$ data_consolidacao       : Factor w/ 6691 levels "","2010-08-04 14:34:28.239",..: 6439 6614 1 1223 1122 5607 1556 1485 1608 2629 ...
  ..$ agrupadora              : Factor w/ 1 level "f": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ id_turma_agrupadora     : int [1:10007] NA NA NA NA NA NA NA NA NA NA ...
  ..$ qtd_aulas_lancadas      : int [1:10007] NA NA NA NA NA NA NA NA NA NA ...
  ..$ situacao_turma          : Factor w/ 4 levels "ABERTA","CONSOLIDADA",..: 2 2 3 2 2 2 2 2 2 2 ...
  ..$ convenio                : logi [1:10007] NA NA NA NA NA NA ...
  ..$ modalidade_participantes: Factor w/ 2 levels "A Distância",..: 2 2 1 2 2 2 2 2 2 2 ...
  ..$ X                       : logi [1:10007] NA NA NA NA NA NA ...
 $ :'data.frame':	8654 obs. of  26 variables:
  ..$ id_turma                : Factor w/ 6335 levels ";44445;STRICTO SENSU;\";Dep. Educação Física, Ginásio, Sala de Dança.;2011;1;2011-03-25;2011-07-08;6M456;7;12;R"| __truncated__,..: 2 3 4 4 5 5 6 7 8 9 ...
  ..$ codigo_turma            : Factor w/ 93 levels "01","01A","01B",..: 1 1 1 1 1 1 1 9 15 21 ...
  ..$ id_docente_interno      : Factor w/ 2094 levels "","100361","102359",..: 258 218 1 1 1 1 1 1 1 1 ...
  ..$ id_docente_externo      : int [1:8654] NA NA 19016075 19016074 19016074 19016075 50915318 50915318 50915318 50915318 ...
  ..$ observacao              : Factor w/ 94 levels "","             ",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ id_componente_curricular: int [1:8654] 2055650 2055632 41389 41389 41390 41390 2053826 2053826 2053826 2053826 ...
  ..$ nivel_ensino            : Factor w/ 7 levels "","1","FORMAÇÃO COMPLEMENTAR",..: 5 5 5 5 5 5 5 5 5 5 ...
  ..$ campus_turma            : Factor w/ 7 levels "","2011-05-10",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ local                   : Factor w/ 1208 levels "","(4º SUBSOLO) HUOL",..: 400 400 318 318 317 317 1 1 1 1 ...
  ..$ ano                     : Factor w/ 3 levels "","2011","4T6 7T123456  2N34 34567N1234": 2 2 2 2 2 2 2 2 2 2 ...
  ..$ periodo                 : int [1:8654] 1 1 1 1 1 1 1 1 1 1 ...
  ..$ data_inicio             : Factor w/ 100 levels "","20","2010-02-22",..: 12 82 78 78 95 95 7 7 7 7 ...
  ..$ data_fim                : Factor w/ 137 levels "","2010-07-09",..: 7 80 78 78 105 105 8 8 8 8 ...
  ..$ descricao_horario       : Factor w/ 1151 levels "","167M2345  67T3456",..: 839 1078 2 2 2 2 1 1 1 1 ...
  ..$ total_solicitacoes      : int [1:8654] NA NA NA NA NA NA NA NA NA NA ...
  ..$ capacidade_aluno        : Factor w/ 96 levels "","1","10","100",..: 54 54 64 64 64 64 44 1 1 1 ...
  ..$ tipo                    : Factor w/ 3 levels "","ENSINO INDIVIDUAL",..: 3 3 3 3 3 3 3 3 3 3 ...
  ..$ distancia               : Factor w/ 3 levels "","f","t": 2 2 2 2 2 2 3 3 3 3 ...
  ..$ data_consolidacao       : Factor w/ 5777 levels "","2011-01-31 08:59:11.058",..: 62 5115 5720 5720 5721 5721 34 35 36 37 ...
  ..$ agrupadora              : Factor w/ 2 levels "","f": 2 2 2 2 2 2 2 2 2 2 ...
  ..$ id_turma_agrupadora     : Factor w/ 210 levels "","1161167","1161300",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ qtd_aulas_lancadas      : int [1:8654] NA NA NA NA NA NA NA NA NA NA ...
  ..$ situacao_turma          : Factor w/ 5 levels "","ABERTA","CONSOLIDADA",..: 3 3 3 3 3 3 3 3 3 3 ...
  ..$ convenio                : logi [1:8654] NA NA NA NA NA NA ...
  ..$ modalidade_participantes: Factor w/ 3 levels "","A Distância",..: 3 3 3 3 3 3 2 2 2 2 ...
  ..$ X                       : logi [1:8654] NA NA NA NA NA NA ...
 $ :'data.frame':	9321 obs. of  26 variables:
  ..$ id_turma                : Factor w/ 7023 levels ";38163;STRICTO SENSU;\";PPGG;2011;2;2011-09-12;2011-12-30;26T2345;3;3;REGULAR;f;2011-12-28 09:46:32.792;f;\";\""| __truncated__,..: 2 3 4 5 6 7 8 8 9 10 ...
  ..$ codigo_turma            : Factor w/ 85 levels "","01","01A",..: 2 2 2 2 2 2 2 2 2 12 ...
  ..$ id_docente_interno      : int [1:9321] 23731 2301545 5753023 26605 23115 5752677 5752677 23203 22992 5753630 ...
  ..$ id_docente_externo      : int [1:9321] NA NA NA NA NA NA NA NA NA NA ...
  ..$ observacao              : Factor w/ 135 levels "","08 a 11 de novembro, das 14h às 17:40h",..: 1 1 1 1 1 1 1 1 1 132 ...
  ..$ id_componente_curricular: int [1:9321] 42125 42128 42130 42132 42174 42175 42173 42173 42177 2036900 ...
  ..$ nivel_ensino            : Factor w/ 5 levels "","GRADUAÇÃO",..: 3 3 3 3 3 3 3 3 3 5 ...
  ..$ campus_turma            : Factor w/ 6 levels "","Campus Caicó",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ local                   : Factor w/ 1243 levels "","-","1 a 1",..: 289 289 289 289 931 931 931 931 931 711 ...
  ..$ ano                     : int [1:9321] 2011 2011 2011 2011 2011 2011 2011 2011 2011 2011 ...
  ..$ periodo                 : int [1:9321] 2 2 2 2 2 2 2 2 2 2 ...
  ..$ data_inicio             : Factor w/ 87 levels "","2010-08-09",..: 3 61 75 84 16 5 49 49 57 9 ...
  ..$ data_fim                : Factor w/ 125 levels "","2010-12-22",..: 3 62 80 99 16 5 48 48 61 10 ...
  ..$ descricao_horario       : Factor w/ 1306 levels "","17M1234  7T12345  6N1234",..: 960 1241 960 1242 1227 1227 1227 1227 1227 23 ...
  ..$ total_solicitacoes      : int [1:9321] NA NA NA NA NA NA NA NA NA NA ...
  ..$ capacidade_aluno        : int [1:9321] 45 45 45 45 55 55 55 55 55 20 ...
  ..$ tipo                    : Factor w/ 3 levels "","ENSINO INDIVIDUAL",..: 3 3 3 3 3 3 3 3 3 3 ...
  ..$ distancia               : Factor w/ 3 levels "","f","t": 2 2 2 2 2 2 2 2 2 2 ...
  ..$ data_consolidacao       : Factor w/ 6298 levels "","2011-08-03 11:55:57.553",..: 6108 6109 6111 6110 5725 17 5734 5734 5733 2 ...
  ..$ agrupadora              : Factor w/ 2 levels "","f": 2 2 2 2 2 2 2 2 2 2 ...
  ..$ id_turma_agrupadora     : int [1:9321] NA NA NA NA NA NA NA NA NA NA ...
  ..$ qtd_aulas_lancadas      : int [1:9321] NA NA NA NA NA NA NA NA NA NA ...
  ..$ situacao_turma          : Factor w/ 5 levels "","ABERTA","CONSOLIDADA",..: 3 3 3 3 3 3 3 3 3 3 ...
  ..$ convenio                : logi [1:9321] NA NA NA NA NA NA ...
  ..$ modalidade_participantes: Factor w/ 3 levels "","A Distância",..: 3 3 3 3 3 3 3 3 3 3 ...
  ..$ X                       : logi [1:9321] NA NA NA NA NA NA ...
 $ :'data.frame':	11183 obs. of  26 variables:
  ..$ id_turma                : int [1:11183] 1176608 1176608 1176812 1176813 1176814 1176815 1176816 1176816 1176843 1176843 ...
  ..$ codigo_turma            : Factor w/ 132 levels "01","01A","01B",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ id_docente_interno      : int [1:11183] 18355 24386 24052 NA 23943 NA NA NA 5754278 5753560 ...
  ..$ id_docente_externo      : int [1:11183] NA NA NA 18682644 NA 18299867 91905639 85285407 NA NA ...
  ..$ observacao              : Factor w/ 158 levels "","(SEMINÁRIO DE INTRODUÇÃO AO CURSO)",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ id_componente_curricular: int [1:11183] 45084 45084 46611 46320 46671 46316 46607 46607 46458 46458 ...
  ..$ nivel_ensino            : Factor w/ 6 levels "FORMAÇÃO COMPLEMENTAR",..: 3 3 3 3 3 3 3 3 3 3 ...
  ..$ campus_turma            : Factor w/ 6 levels "","Campus Caicó",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ local                   : Factor w/ 1417 levels "","(sala 1)",..: 933 933 437 437 437 437 437 437 436 436 ...
  ..$ ano                     : int [1:11183] 2012 2012 2012 2012 2012 2012 2012 2012 2012 2012 ...
  ..$ periodo                 : int [1:11183] 1 1 1 1 1 1 1 1 1 1 ...
  ..$ data_inicio             : Factor w/ 119 levels "2011-08-15","2012-01-02",..: 10 10 17 36 52 61 79 79 101 101 ...
  ..$ data_fim                : Factor w/ 142 levels "2011-12-22","2012-01-14",..: 8 8 17 30 39 61 77 77 100 100 ...
  ..$ descricao_horario       : Factor w/ 1466 levels "","123456N1234",..: 18 18 16 16 55 16 16 16 16 16 ...
  ..$ total_solicitacoes      : int [1:11183] NA NA NA NA NA NA NA NA NA NA ...
  ..$ capacidade_aluno        : int [1:11183] 50 50 40 40 41 40 41 41 41 41 ...
  ..$ tipo                    : Factor w/ 2 levels "ENSINO INDIVIDUAL",..: 2 2 2 2 2 2 2 2 2 2 ...
  ..$ distancia               : Factor w/ 2 levels "f","t": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ data_consolidacao       : Factor w/ 7506 levels "","2012-02-08 07:21:59.57",..: 7295 7295 1 7378 4031 7377 7278 7278 7437 7437 ...
  ..$ agrupadora              : Factor w/ 1 level "f": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ id_turma_agrupadora     : int [1:11183] NA NA NA NA NA NA NA NA NA NA ...
  ..$ qtd_aulas_lancadas      : int [1:11183] NA NA NA NA NA NA NA NA NA NA ...
  ..$ situacao_turma          : Factor w/ 4 levels "ABERTA","CONSOLIDADA",..: 2 2 3 2 2 2 2 2 2 2 ...
  ..$ convenio                : logi [1:11183] NA NA NA NA NA NA ...
  ..$ modalidade_participantes: Factor w/ 2 levels "A Distância",..: 2 2 2 2 2 2 2 2 2 2 ...
  ..$ X                       : logi [1:11183] NA NA NA NA NA NA ...
 $ :'data.frame':	10714 obs. of  26 variables:
  ..$ id_turma                : int [1:10714] 1176730 1176817 1176817 1176817 1176817 1176818 1176844 1186153 1186154 1186471 ...
  ..$ codigo_turma            : Factor w/ 131 levels "01","01A","01B",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ id_docente_interno      : int [1:10714] 18780 5753099 18679 5751838 5753882 18422 5754313 23198 NA 5752917 ...
  ..$ id_docente_externo      : int [1:10714] NA NA NA NA NA NA NA NA 51487268 NA ...
  ..$ observacao              : Factor w/ 188 levels ""," Inclui a participação no Seminário Direitos Humanos e Serviço Social",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ id_componente_curricular: Factor w/ 3702 levels " haverá atividade de campo no dia 12/10/2012;38187;STRICTO SENSU;\";PPGG;2012;2;2012-10-08;2012-10-12;6T1234;13"| __truncated__,..: 2930 3242 3242 3242 3242 3110 3120 2924 2923 2694 ...
  ..$ nivel_ensino            : Factor w/ 7 levels "38212","FORMAÇÃO COMPLEMENTAR",..: 4 4 4 4 4 4 4 4 4 4 ...
  ..$ campus_turma            : Factor w/ 7 levels "","Campus Caicó",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ local                   : Factor w/ 1336 levels "","?","(Quarta: Sala 03-T / Terça e Quinta: Sala 09-T)",..: 874 432 432 432 432 430 431 751 751 516 ...
  ..$ ano                     : Factor w/ 2 levels "2012","LGGP": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ periodo                 : int [1:10714] 2 2 2 2 2 2 2 2 2 2 ...
  ..$ data_inicio             : Factor w/ 127 levels "2","2012-01-01",..: 73 21 21 21 21 42 8 12 19 57 ...
  ..$ data_fim                : Factor w/ 142 levels "2012-03-09","2012-05-04",..: 61 19 19 19 19 43 7 7 12 47 ...
  ..$ descricao_horario       : Factor w/ 1392 levels "","123456N1234",..: 20 17 17 17 17 17 17 11 11 47 ...
  ..$ total_solicitacoes      : Factor w/ 147 levels "","0","1","10",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ capacidade_aluno        : int [1:10714] 50 40 40 40 40 40 41 50 50 20 ...
  ..$ tipo                    : Factor w/ 3 levels "1","ENSINO INDIVIDUAL",..: 3 3 3 3 3 3 3 3 3 3 ...
  ..$ distancia               : Factor w/ 3 levels "f","REGULAR",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ data_consolidacao       : Factor w/ 7201 levels "","2012-08-03 17:37:17.1",..: 6803 1 1 1 1 6856 7024 1 6718 4954 ...
  ..$ agrupadora              : Factor w/ 2 levels "2012-12-25 12:28:00.462",..: 2 2 2 2 2 2 2 2 2 2 ...
  ..$ id_turma_agrupadora     : Factor w/ 335 levels "","1186853","1186855",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ qtd_aulas_lancadas      : int [1:10714] NA NA NA NA NA NA NA NA NA NA ...
  ..$ situacao_turma          : Factor w/ 5 levels "","ABERTA","CONSOLIDADA",..: 3 4 4 4 4 3 3 4 3 3 ...
  ..$ convenio                : Factor w/ 2 levels "","CONSOLIDADA": 1 1 1 1 1 1 1 1 1 1 ...
  ..$ modalidade_participantes: Factor w/ 3 levels "","A Distância",..: 3 3 3 3 3 3 3 3 3 3 ...
  ..$ X                       : Factor w/ 2 levels "","Presencial": 1 1 1 1 1 1 1 1 1 1 ...
 $ :'data.frame':	9962 obs. of  26 variables:
  ..$ id_turma                : Factor w/ 7427 levels ";38270;STRICTO SENSU;\";setor 2, bloco A-2;2013;1;2013-03-12;2013-07-31;4T23456;39;40;REGULAR;f;2014-01-08 15:4"| __truncated__,..: 7 8 9 10 11 12 13 14 15 16 ...
  ..$ codigo_turma            : Factor w/ 174 levels ""," Análise de dados a partir da gramática sistêmico-funcional. ( só para orientandos).;38283;STRICTO SENSU;\";Set"| __truncated__,..: 4 115 116 117 118 119 120 121 122 123 ...
  ..$ id_docente_interno      : Factor w/ 2268 levels ""," III - 17 a 21/06;2051918;STRICTO SENSU;\";A Definir;2013;1;2013-03-04;2013-06-28;2M345;15;20;REGULAR;f;2013-07"| __truncated__,..: 893 1 1 1 1 1 1 1 1 1 ...
  ..$ id_docente_externo      : Factor w/ 126 levels ""," II - 20 a 24/05",..: 1 6 42 80 81 27 82 46 28 83 ...
  ..$ observacao              : Factor w/ 60 levels "","\n3ª feira, 14:30h às 17h, a partir de 02/04\n",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ id_componente_curricular: Factor w/ 3298 levels ""," II - 20 a 24/05",..: 3149 3228 3228 3228 3228 3228 3228 3228 3228 3228 ...
  ..$ nivel_ensino            : Factor w/ 8 levels ""," III - 17 a 21/06;2051918;STRICTO SENSU;\";A Definir;2013;1;2013-03-04;2013-06-28;2M345;15;20;REGULAR;f;2013-07"| __truncated__,..: 6 8 8 8 8 8 8 8 8 8 ...
  ..$ campus_turma            : Factor w/ 7 levels "","1","Campus Caicó",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ local                   : Factor w/ 1128 levels "","-","1-A-1",..: 397 225 218 225 218 225 225 218 225 218 ...
  ..$ ano                     : Factor w/ 3 levels "","2013","2013-07-31": 2 2 2 2 2 2 2 2 2 2 ...
  ..$ periodo                 : Factor w/ 3 levels "","1","3T2345": 2 2 2 2 2 2 2 2 2 2 ...
  ..$ data_inicio             : Factor w/ 78 levels "","2013-01-01",..: 13 11 11 11 11 11 11 11 11 11 ...
  ..$ data_fim                : Factor w/ 91 levels "","20","2013-01-17",..: 9 82 82 82 82 82 82 82 82 82 ...
  ..$ descricao_horario       : Factor w/ 1297 levels "","167M2345  67T3456",..: 21 246 246 384 384 348 608 608 733 733 ...
  ..$ total_solicitacoes      : Factor w/ 144 levels "","0","1","10",..: 1 1 1 114 62 81 1 60 134 51 ...
  ..$ capacidade_aluno        : Factor w/ 98 levels "","1","10","100",..: 83 50 50 50 50 50 50 50 50 50 ...
  ..$ tipo                    : Factor w/ 4 levels "","ENSINO INDIVIDUAL",..: 4 4 4 4 4 4 4 4 4 4 ...
  ..$ distancia               : Factor w/ 3 levels "","f","t": 2 2 2 2 2 2 2 2 2 2 ...
  ..$ data_consolidacao       : Factor w/ 6801 levels "","2013-02-09 17:12:56.576",..: 557 6172 6277 6447 6294 6259 6266 6060 6347 6423 ...
  ..$ agrupadora              : Factor w/ 3 levels "","CONSOLIDADA",..: 3 3 3 3 3 3 3 3 3 3 ...
  ..$ id_turma_agrupadora     : int [1:9962] NA NA NA NA NA NA NA NA NA NA ...
  ..$ qtd_aulas_lancadas      : Factor w/ 19 levels "","0","100","105",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ situacao_turma          : Factor w/ 5 levels "","ABERTA","CONSOLIDADA",..: 3 3 3 3 3 3 3 3 3 3 ...
  ..$ convenio                : logi [1:9962] NA NA NA NA NA NA ...
  ..$ modalidade_participantes: Factor w/ 3 levels "","A Distância",..: 3 3 3 3 3 3 3 3 3 3 ...
  ..$ X                       : logi [1:9962] NA NA NA NA NA NA ...
 $ :'data.frame':	11798 obs. of  26 variables:
  ..$ id_turma                : Factor w/ 7743 levels "- Elaboração de Projetos.;54336;TÉCNICO;\";CRUZETA;2013;2;2013-07-29;2013-08-09;7T123456;\";35;REGULAR;f;2014-0"| __truncated__,..: 9 10 11 12 13 14 15 15 16 17 ...
  ..$ codigo_turma            : Factor w/ 126 levels ""," 5N34 Setor III Sala E-4;2013;2;2013-07-29;2013-12-14;3N12 5N34;18;50;REGULAR;f;2013-12-16 16:21:19.775;f;\";\""| __truncated__,..: 10 16 22 27 32 3 3 3 3 3 ...

In [7]:
lista <- c("id_turma","id_componente_curricular","nivel_ensino","periodo","descricao_horario","tipo")

In [8]:
temp <- lapply(myfiles, FUN = function(x){x[, lista]})

In [9]:
turmas <- do.call(rbind, temp)

In [10]:
str(turmas)
head(turmas)

'data.frame':	150563 obs. of  6 variables:
 $ id_turma                : chr  "1151160" "1151161" "1151162" "1151163" ...
 $ id_componente_curricular: chr  "24054" "24061" "25843" "41598" ...
 $ nivel_ensino            : Factor w/ 29 levels "GRADUAÇÃO","LATO SENSU",..: 1 1 1 3 2 2 2 2 2 2 ...
 $ periodo                 : chr  "1" "1" "1" "1" ...
 $ descricao_horario       : Factor w/ 12064 levels "","167M2345  67T3456",..: 454 995 450 801 798 798 833 920 798 798 ...
 $ tipo                    : Factor w/ 25 levels "ENSINO INDIVIDUAL",..: 2 2 2 2 2 2 2 2 2 2 ...

  id_turma id_componente_curricular nivel_ensino  periodo
1 1151160  24054                    GRADUAÇÃO     1
2 1151161  24061                    GRADUAÇÃO     1
3 1151162  25843                    GRADUAÇÃO     1
4 1151163  41598                    STRICTO SENSU 1
5 1151164  2055814                  LATO SENSU    1
6 1151168  2055655                  LATO SENSU    1
  descricao_horario         tipo
1 35T12                     REGULAR
2 6T56  5N34                REGULAR
3 35N34                     REGULAR
4 567T6                     REGULAR
5 567M2345  4567T3456  4N34 REGULAR
6 567M2345  4567T3456  4N34 REGULAR

In [11]:
turmas$id_turma <- as.numeric(turmas$id_turma)
turmas$id_componente_curricular <- as.numeric(turmas$id_componente_curricular)
turmas$periodo <- as.numeric(turmas$periodo)

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

In [12]:
summary(turmas)

    id_turma        id_componente_curricular                nivel_ensino
 Min.   :       2   Min.   :      2          GRADUAÇÃO            :121342
 1st Qu.: 1184765   1st Qu.:  27148          STRICTO SENSU        : 17844
 Median : 1219827   Median :  46967          TÉCNICO              :  6588
 Mean   :20069662   Mean   : 465304          LATO SENSU           :  3569
 3rd Qu.:57564092   3rd Qu.:  61214          FORMAÇÃO COMPLEMENTAR:   626
 Max.   :57612859   Max.   :2056265          RESIDÊNCIA           :   462
 NA's   :118        NA's   :127              (Other)              :   132
    periodo         descricao_horario                           tipo
 Min.   :   1.000          : 18097    REGULAR                     :148575
 1st Qu.:   1.000   35N12  :  1945    ENSINO INDIVIDUAL           :  1824
 Median :   1.000   35M34  :  1724                                :   121
 Mean   :   1.508   35T56  :  1524    REPOSIÇÃO NO PERÍODO REGULAR:    19
 3rd Qu.:   2.000   35N34  :  1459    Presencial                  :     3
 Max.   :2017.000   35M12  :  1440    f                           :     2
 NA's   :140        (Other):124374    (Other)                     :    19

In [13]:
# convertendo todas as entras nulas em valores NA

turmas$tipo[turmas$tipo == ""] <- NA
turmas$nivel_ensino[turmas$nivel_ensino == ""] <- NA
turmas$descricao_horario[turmas$descricao_horario == ""] <- NA

In [14]:
# calcular as porcentagens de valores nulos conforme a sumarização acima e o total de entradas
total <- nrow(turmas)
nulo_idturma <- sum(is.na(turmas$id_turma))
nulo_idcomponente <- sum(is.na(turmas$id_componente_curricular))
nulo_nivel <- sum(is.na(turmas$nivel_ensino))
nulo_periodo <- sum(is.na(turmas$periodo))
nulo_horario <- sum(is.na(turmas$descricao_horario))
nulo_tipo <- sum(is.na(turmas$tipo))

In [15]:
sprintf("%.2f%% para IdTurma", (nulo_idturma/total)*100)
sprintf("%.2f%% para IdComponente", (nulo_idcomponente/total)*100)
sprintf("%.2f%% para Nível Ensino", (nulo_nivel/total)*100)
sprintf("%.2f%% para Período", (nulo_periodo/total)*100)
sprintf("%.2f%% para Horário", (nulo_horario/total)*100)
sprintf("%.2f%% para Tipo", (nulo_tipo/total)*100)

[1] "0.08% para IdTurma"

[1] "0.08% para IdComponente"

[1] "0.07% para Nível Ensino"

[1] "0.09% para Período"

[1] "12.02% para Horário"

[1] "0.08% para Tipo"

In [16]:
# removendo todos os valores NAs do dataset

reduced <- turmas[complete.cases(turmas), ]

In [17]:
reduced <- subset(reduced, nivel_ensino == "GRADUAÇÃO")
reduced <- droplevels(reduced)

In [18]:
summary(reduced)

    id_turma        id_componente_curricular    nivel_ensino       periodo
 Min.   : 1151160   Min.   :  20001          GRADUAÇÃO:104612   Min.   :1.000
 1st Qu.: 1187866   1st Qu.:  25706                             1st Qu.:1.000
 Median : 1222440   Median :  48498                             Median :1.000
 Mean   :20248351   Mean   : 468971                             Mean   :1.495
 3rd Qu.:57565429   3rd Qu.:  61213                             3rd Qu.:2.000
 Max.   :57612405   Max.   :2056212                             Max.   :2.000

 descricao_horario                           tipo
 35N12  : 1922     ENSINO INDIVIDUAL           :   852
 35M34  : 1649     REGULAR                     :103754
 35N34  : 1451     REPOSIÇÃO NO PERÍODO REGULAR:     6
 35T56  : 1389
 35M12  : 1377
 24N12  : 1237
 (Other):95587

## 3. Exportando os Resultados

In [24]:
# salvando o dataset em CSV para facilitar trabalhos futuros
setwd(path_save)

write.csv(reduced, "turmas.csv", row.names=FALSE)

### 3.1. Exportando apenas as Turmas

In [19]:
lst_turmas <- data.frame("IdTurmas" = reduced$id_turma)

In [20]:
str(lst_turmas)

'data.frame':	104612 obs. of  1 variable:
 $ IdTurmas: num  1151160 1151161 1151162 1151178 1151178 ...

In [21]:
head(lst_turmas)

  IdTurmas
1 1151160
2 1151161
3 1151162
4 1151178
5 1151178
6 1151179

In [22]:
setwd(path_save)

write.csv(lst_turmas, "lst_turmas.csv", row.names=FALSE)